* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#urlapok, .tabladiv {
    display: block;
    text-align: left;
    color: beige;
    font-family: "Century Gothic", serif;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px 15px;
    padding: 10px;
}

table {
    width: 84vw;
    border-collapse: collapse;
    margin: auto;
    padding: 10px;
    line-height: 35px;
}

caption {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
}

.tabladiv a {
    background-color: beige;
    border: none;
    color: black;
    padding: 5px 15px;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: "Century Gothic", serif;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}

th ul li {
    list-style: none;
    display: block;
    float: left;
    line-height: 30px;
    margin: 0 5px 20px 5px;
}

th ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: beige;
}

th .active {
    background-color: black;
    color: beige;
}

tbody td{
    border: 1px solid black;
    padding: 5px;
}

h2 {
    margin-bottom: 20px;
}

form {
    font-size: 15px;
    margin: 20px 20px;
}

input, select, textarea {
    font-family: "Century Gothic", serif;
    font-size: 13px;
    margin-bottom: 10px;
}

input[type="text"], input[type="datetime-local"], input[type="number"], select {
    border: 3px solid beige;
    border-radius: 4px;
    width: 15em;
    height: 2em;
}

input[type="text"]:focus, input[type="datetime-local"]:focus, input[type="number"]:focus, select:focus {
    border: 3px solid black;
}

input[type="submit"] {
    background-color: beige;
    border: none;
    color: black;
    padding: 5px 15px;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: "Century Gothic", serif;
    font-weight: bold;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: beige;
}