* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    width: 85vw;
    background-color: rgb(51,51,51);
    border-radius: 15px 15px;
    padding: 10px;
    color: beige;
    font-family: "Century Gothic", serif;
}

h2, p {
    text-align: center;
    margin: 20px;
}



table {
    width: 84vw;
    border-collapse: collapse;
}

caption {
    padding: 5px;
    font-size: 30px;
    font-family: "Century Gothic", serif;
    text-align: center;
    margin: 20px 0;
}

table th {
    width: 42vw;
    padding: 5px;
    font-size: 20px;
    text-align: left;
    border: 1px solid black;
}

td {
    padding: 5px;
    font-size: 15px;
    text-align: left;
    border: 1px solid black;
}

input[type=submit], #ertekeles {
    background-color: black;
    border: none;
    color: beige;
    padding: 10px 25px;
    display: block;
    margin: auto;
    cursor: pointer;
    font-family: "Century Gothic", serif;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
}

#ertekeles {
    background-color: rgb(221, 222, 233);
    color: black;
}

.profilkep {
    height: 200px;
}

input[type=file], #profilkep-feltoltes-submit {
    display: inline;
}

input[type=submit]:hover, #ertekeles:hover {
    background-color: rgb(113, 113, 113);
    color: beige;
}

input[type=file] {
    width: 14vw;
    height: 23px;
    margin: 5px;
    border: 3px solid beige;
    border-radius: 4px;
    font-family: "Century Gothic", serif;
    font-size: 15px;
}

input[type=file] {
    width: 17vw;
    height: 30px;
}

input[type=file]:focus {
    border: 3px solid black;
}