* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sajat-adatok {
    width: 85vw;
    background-color: rgb(51,51,51);
    border-radius: 15px 15px;
    padding: 10px;
    color: beige;
    font-family: "Century Gothic", serif;
}

h2, p {
    text-align: center;
    margin: 20px;
}

.sajat-adatok table {
    width: 84vw;
    border-collapse: collapse;
}

.sajat-adatok caption {
    padding: 5px;
    font-size: 30px;
    font-family: "Century Gothic", serif;
    text-align: center;
    margin: 20px 0;
}

.sajat-adatok table th {
    width: 42vw;
    padding: 5px;
    font-size: 20px;
    text-align: left;
    border: 1px solid black;
}

.sajat-adatok td {
    padding: 5px;
    font-size: 15px;
    text-align: left;
    border: 1px solid black;
}

input[type=submit], #ertekeles, .biztositas-kotes {
    background-color: rgb(221, 222, 233);
    border: none;
    color: black;
    padding: 10px 25px;
    display: block;
    margin: auto;
    cursor: pointer;
    font-family: "Century Gothic", serif;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
}

input[type=submit]:hover, #ertekeles:hover, .biztositas-kotes:hover {
    background-color: rgb(113, 113, 113);
    color: beige;
}

.modal-body {
    text-align: left;
    color: beige;
    font-family: "Century Gothic", serif;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px 15px;
    padding: 10px;
}

.modal-body table {
    display: inline;
    border-collapse: collapse;
    padding: 7px;
    line-height: 20px;
}

.modal-body tr td {
    border: 1px solid black;
    padding: 7px;
}
.modal-body caption {
    font-weight: bold;
    margin: 15px;
    font-size: 20px;
}

.biztosito {
    font-size: 15px;
    margin: 10px;
}

.biztositas-1, .biztositas-2, .biztositas-3, .biztositas-4, .biztositas-5 {
    opacity: 0;        /* ilyenkor nem látszik a div */
    max-height: 0;
    overflow: hidden;
    transform: scale(0.8);
    transition: 0.8s;
    font-size: 20px;
}

input, select {
    font-family: "Century Gothic", serif;
    font-size: 16px;
    margin-bottom: 20px;
}

input[type="radio"]:checked ~ .biztositas-1, input[type="radio"]:checked ~ .biztositas-2,
input[type="radio"]:checked ~ .biztositas-3, input[type="radio"]:checked ~ .biztositas-4,
input[type="radio"]:checked ~ .biztositas-5 {
    opacity: 1;       /* ilyenkor látszik a div */
    max-height: 500px;
    overflow: visible;
}

input[type="radio"]:checked {
    opacity: 1;
    max-height: 100px;
    overflow: visible;
    padding: 10px 20px;
    transform: scale(1);
}

.biztosito input[type="submit"] {
    background-color: darkgray;
    border: none;
    color: black;
    padding: 10px 25px;
    margin: 2px;
    cursor: pointer;
    font-family: "Century Gothic", serif;
    font-weight: bold;
    border-radius: 5px;
}

.biztosito input[type="submit"]:hover {
    background-color: beige;
}