* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 85vw;
    margin: 8vh auto 10vh;
    line-height: 2.5vh;
}

body {
    background-color: black;
}

.fejlec img {
    width: 100%;
    height: 400px;
    background-size: cover;
}

nav {
    z-index: 20;
    width: fit-content;
    position: absolute;
    top: 255px;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
}

.menu ul {
    margin-left: 10px;
    text-align: center;
}
.menu ul li {
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 100px;
    background-color: rgba(0,0,0,.8);
    border-radius: 15px 30px 15px 30px;
    margin: 0 10px;
}

.menu ul li a, canvas {
    text-decoration: none;
    font-size: 20px;
    font-family: "Century Gothic", serif;
    padding: 0 20px;
    display: block;
    color: whitesmoke;
}

.menu ul li a:hover {
    background: beige;
    color: black;
    border-radius: 15px 30px 15px 30px;
}

.menu .active {
    border-radius: 15px 30px 15px 30px;
    background-color: rgba(51, 51, 51, 0.8);
    color: black;
}

.siker, .hiba {
    margin: 10px auto;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: beige;
    font-family: "Century Gothic", serif;
}

.siker {
    background-color: forestgreen;
}

.hiba {
    background-color: crimson;
}